    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
        <nav class="navbar navbar-expand-lg navbar dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home">Shoppingkart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us">About-Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Registration</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
