  <!-- Footer Section -->
  <footer>
    <div class="footer-links">
      <a href="about-us">About Us</a>
      <a href="services">Services</a>
      <a href="contact">Contact</a>
      <a href="privacy">Privacy Policy</a>
    </div>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
    <div class="copyright">
      &copy; 2024 Your Company. All rights reserved.
    </div>
  </footer>
